* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  width: 100%;
  min-height: 250px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4f5cf0, #8fa0ff);
}

.font {
  justify-content: center;
  text-align: center;
  color: white;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
}

.font h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.font h2 {
  font-size: 20px;
  font-weight: normal;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 24px;

  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
  font-size: 20px;
  line-height: 1.6;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .breath {
    flex-direction: column;
    align-items: center;
  }
}

.breath {
  width: 100vw;
  min-height: 100vh;
  padding: 80px 100px;
  background: #f4f6ff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  flex-direction: row;
  margin-top: 20px;
}

.inner {
  .circle-inner {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #6f7cff;

    transition: transform 4s ease-in-out;
  }

  .inhale {
    transform: scale(1.3);
  }

  .exhale {
    transform: scale(0.75);
  }
}

.circle-outer {
  margin: 20px;
  display: flex;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: rebeccapurple;
}

.inhale {
  transform: scale(1.15);
}

.exhale {
  transform: scale(1.15);
}

.btn {
  padding: 12px 40px;
  border-radius: 12px;
  border: none;
  background: white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
